<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Weather</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/" method="post">
          <input
            name="city"
            type="text"
            placeholder="Enter a City"
            class="weather-input"
            required
          />
          <input type="submit" value="Get Weather" class="weather-button" />
        </form>
        <h1 style="color: black">Weather Information:</h1>
        <% if(error !== null){ %>
        <h2><%= error %> </h2>
        <% } %> <%if(Latitude !== null){ %>
        <h2>Latitude: <%= Latitude %> </h2>
        <% } %> <%if(Longitude !== null){ %>
        <h2>Longitude: <%= Longitude %> </h2>
        <% } %> <%if(Weather !== null){ %>
        <h2>Weather: <%= Weather %> </h2>
        <% } %> <%if(Description !== null){ %>
        <h2>Description: <%= Description %> </h2>
        <% } %> <%if(Temperature !== null){ %>
        <h2>Temperature: <%= Temperature %> </h2>
        <% } %> <% if(realFeel!== null){ %>
        <h2>Feels Like: <%= realFeel %> </h2>
        <% } %> <% if(humidity!== null){ %>
        <h2>Humidity: <%= humidity %> </h2><% } %>
        <!--  -->
      </fieldset>
      <fieldset></fieldset>
    </div>

    <div class="Google-Map">
      <h1 style="color: black">Map:</h1>
      <%if(place_id !== null){ %>
      <iframe
        width="750"
        height="450"
        frameborder="0"
        style="border: 0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAqRGSCj7COyjwNJp7vqG8WWZVZiShqFD8
          &q=place_id:<%= place_id %>&maptype=satellite"
        allowfullscreen
      >
      </iframe>
      <% } %>
    </div>
  </body>
</html>
